.password-wrapper {
  position: relative;
}

.password-input {
  padding-right: 48px;
  height: 44px;
  line-height: 1.2;
  box-sizing: border-box;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #555;
}

.password-toggle i {
  font-size: 18px;
  line-height: 1;
}
/* Ẩn icon mắt mặc định của Chrome / Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}
