server:
  port: 8080

spring:
  datasource:

    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/myapp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${MYSQL_ROOT_PASSWORD:root}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  messages:
    basename: messages
    encoding: UTF-8


api:
  prefix: api/v1

jwt:
  expiration: 2592000
  secretKey: 7TUoQ5cAz4iSl6OgcAg2RgGOBUD7Wl+ReltD74ilPoQ=