############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

############################
# Spring Boot / Java
############################
be/target/
be/*.log
be/.mvn/wrapper/maven-wrapper.jar

############################
# Angular / Node
############################
fe/node_modules/
fe/dist/
fe/.angular/

############################
# Environment files
############################
.env
.env.*
application-*.yml
application-*.properties

############################
# Logs
############################
*.log
logs/

############################
# Build tools
############################
.gradle/
.mvn/
